
  body {
    margin: 0;
    display: grid;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    color: #334259
  }

  .header {
    background: #db504a;
    padding: 1rem;
    color: #334259
  }

  .header a:hover {
    background: #6e8783;
    color: #e5e5dc;
  }

  .header a{
    text-decoration: none;
    color: #334259
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
  }
  
  .sidebar {
    background: #6e8783;
    padding: 1rem;
  }

  .content {
    flex-grow: 1;
    background: #e5e5dc;
    padding: 1rem;
    overflow: auto;
  }

   img {
    margin: 15px 30px 0 0;
    width: 300px;
    object-fit: contain;
    align-self: flex-start;
  }
 
  .footer {
    background: #db504a;
    padding: 1rem;
  }