
  body {
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
  }
  .header {
    background: #db504a;
    padding: 1rem;
  }

  .header a:hover {
    background: #6e8783;
    color: #e5e5dc;
  }
  .main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  .sidebar {
    background: #6e8783;
    padding: 1rem;
  }
  .content {
    flex-grow: 1;
    background: #e5e5dc;
    padding: 1rem;
    overflow: auto;
  }
 
  .footer {
    background: #db504a;
    padding: 1rem;
  }